@import url(./__add-button/profile__add-button.css);
@import url(./__add-image/profile__add-image.css);
@import url(./__avatar/profile__avatar.css);
@import url(./__edit-button/profile__edit-button.css);
@import url(./__edit-image/profile__edit-image.css);
@import url(./__user-description/profile__user-description.css);
@import url(./__user-info/profile__user-info.css);
@import url(./__user-name/profile__user-name.css);

.profile {
  max-width: 882px;
  min-height: 120px;
  display: flex;
  margin: 40px auto;
}